In [1]:
import configparser
%load_ext sql

In [2]:
config = configparser.ConfigParser()
config.read('dwh.config')

DWH_DB_USER = config['DWH']['DWH_DB_USER']
DWH_DB_PASSWORD = config['DWH']['DWH_DB_PASSWORD']
DWH_DB_HOST = config['DWH']['HOST']
DWH_PORT = config['DWH']['DWH_PORT']
DWH_DB_NAME = config['DWH']['DWH_DB_NAME']

conn_string=f"postgresql://{DWH_DB_USER}:{DWH_DB_PASSWORD}@{DWH_DB_HOST}:{DWH_PORT}/{DWH_DB_NAME}"
%sql $conn_string

'Connected: dwhuser@dwh'

In [3]:
%sql SELECT * FROM songplays WHERE song_id IS NOT NULL AND artist_id IS NOT NULL LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1836, datetime.datetime(2018, 11, 15, 21, 11, 36, 796000), 44, 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 619, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (37, datetime.datetime(2018, 11, 7, 5, 32, 6, 796000), 50, 'free', 'SOXQUPO12A6D4FC2B6', 'AR79C1C1187FB4C482', 313, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (101, datetime.datetime(2018, 11, 7, 13, 54, 52, 796000), 23, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 177, 'Raleigh, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (869, datetime.datetime(2018, 11, 5, 11, 8, 56, 796000), 95, 'paid', 'SOQYHVZ12A6D4F93CF', 'ARRZUPG11F43A69EF7', 222, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (997, datetime.datetime(2018, 11, 5, 16, 4, 5, 796000), 97, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [4]:
%sql SELECT * FROM times LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 1, 34, 17, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 12, 32, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 22, 43, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 54, 59, 796000), 9, 2, 44, 11, 2018, 5)]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAPERH12A58A787DC', 'The One And Only (Edited)', 'ARZ5H0P1187B98A1DD', 0, 230.42567),
 ('SOVXMTN12A8C135A18', 'OUTE ENA EFHARISTO', 'ARNQAVF11F4C844C04', 0, 303.09832),
 ('SOIJXXM12A8C1416D6', 'Rosemary Recalls', 'ARRC2JF1187B9B6A93', 1985, 84.03546),
 ('SOPVFQJ12AB018BC96', 'Evil Man', 'AR2XWG21187FB40648', 2009, 160.78322),
 ('SOWVBIP12A8C143C9E', 'Hott', 'ARDHKG01187FB4CBDE', 2008, 217.62567)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR01S3D1187FB50A53', 'Charlie Parr', 'Minnesota', None, None),
 ('AR01WHF1187B9B53B8', 'Lullatone', 'Nagoya, Japan', None, None),
 ('AR040QX1187FB4CFE1', 'Alexisonfire', 'St. Catharines, ON, Canada', None, None),
 ('AR052WY1187FB55B1C', 'We The Kings', 'BRADENTON. FL', 27.4955, -82.57807),
 ('AR065WD1187B9B545B', 'KAUKO  RÖYHKÄ', None, None, None)]

In [7]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(5, 'Elijah', 'Davis', 'M', 'free'),
 (33, 'Bronson', 'Harris', 'M', 'free'),
 (35, 'Molly', 'Taylor', 'F', 'free'),
 (39, 'Walter', 'Frye', 'M', 'free'),
 (44, 'Aleena', 'Kirby', 'F', 'paid')]